#root {
    /*background-color: #fffed9;*/
    background-image: url("/public/background.png");
}

html, body, #root {
    height: 100%;
}

.main-container {
    height: 100%;
}

.item-title {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}

.item-image {
    object-fit: contain;
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    background-color: white;
    border-radius: 20px;
}

.item-description {
    font-size: 12px;
}

.item-price {
    margin-top: 5px;
    background-color: red;
    color: white;
    border: 4px solid #663d3d;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
}

.nav {
    background-color: #F1B201;
}

.nav-image {
    width: 120px;
}

.nav-alert {
    background-color: #ff6969;
    border-radius: 20px;
    color: #ffffff;
    border: solid 2px #000000;
}

.nav-date {
    background-color: #e5c703;
    border-radius: 20px;
}

.footer {
    background-color: #F1B201;
}

.footer-number {
    background-color: #e5c703;
    border-radius: 20px;
}